<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appointments</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1>Hello, {{user.first_name}}!</h1>

        
            <form action="/logout" method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" value="Logout">
        
            </form>
        </div>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <div id="main_appointments">
            <h3>Here are your appointments for today!</h3>

            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                {% for todays_appt in todays_appts %}
                <tr>
                    <td>{{todays_appt.tasks}}</td>
                    <td>{{todays_appt.date}}</td>
                    <td>{{todays_appt.time}}</td>
                    <td>{{todays_appt.status}}</td>
                    {% if todays_appt.status == "pending" %}
                    <td><a href="/appointments/edit_appt/{{todays_appt.id}}">Edit</a> | <a href="/appointments/delete_appt/{{todays_appt.id}}">Delete</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
   
            </table>
        </div>


        <div id="other">
            <h3>Your Other appointments</h3>
            
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                {% if appts %}
                    {% for appt in appts %}
				    <tr>
						<td>{{appt.tasks}}</td>
						<td>{{appt.date}}</td>
						<td>{{appt.time}}</td>
					</tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>


        <div id="add">
            {% if messages %}
                {% for message in messages %}
                    <p class="alert">{{message.message}}</p>
                {% endfor %}
            {% endif %}

            <h3>Add Appointment</h3>

            <form action= "/appointments/add_appt" method="POST">
                {% csrf_token %}
                <lable for="date">Date:</lable>
                <input type="date" name="date" value="">
                <br>

                <lable for="time">Time:</lable>
                <input type="time" name="time" value="">
                <br>

                <lable for="tasks">Tasks</lable>
                <input type="text" name="tasks" value="">
                
                <input type="submit" value="Add">

            </form>
        </div>

        <div id="new">
            <h3>New/Added to your Appointments</h3>
            <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tasks</th>
                            <th>date</th>
                            <th>Time</th>
                        </tr>
                        {% if appts %}
                        {% for appt in join_appts %}
                        <tr>
                            <!--{{user.first_name}} DISPLAY??????-->
                            <td>{{appt.user.first_name}}</td>
                            <td>{{appt.tasks}}</td>
                            <td>{{appt.date}}</td>
                            <td>{{appt.time}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </thead>
            </table>        
        </div>



        <div id ="Join">
            <h3>Other Users Appointments</h3>
            
            <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tasks</th>
                            <th>date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    {% if appts %}
                        {% for appt in other_appts %}
                        <tr>
                            <!--{{user.first_name}} DISPLAY??????-->
                            <td>{{appt.user.first_name}}</td>
                            <td>{{appt.tasks}}</td>
                            <td>{{appt.date}}</td>
                            <td>{{appt.time}}</td>
                          
                            <td><a href="/appointments/join/{{appt.id}}">Join</a> 
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>





        </div>
    
    </div>
    
</body>
</html>